/* fontstyle */
@font-face {
    font-family: "UnileverShilling" ;
    src: url('resources/Unilever_Shilling.ttf');
}

@font-face {
    font-family: "UnileverShillingb" ;
    src: url('resources/Unilever_Shilling_Bold.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: darkblue;
}

.fade_slideshow {
    width:150px; 
    height:100px; 
    position:fixed; 
    opacity: 30%;
    
    z-index: -1;    
}   

.fade_slideshow img{ 
    position:fixed; 
    animation:fade_slideshow 135s infinite;
    opacity:0; width: 100%; height: 100%;
    z-index: -1;
}

@keyframes fade_slideshow {25%{opacity:1;} 40%{opacity:0;}}
.fade_slideshow img:nth-child(10){animation-delay:135s;}
.fade_slideshow img:nth-child(9){animation-delay:120s;}
.fade_slideshow img:nth-child(8){animation-delay:105s;}
.fade_slideshow img:nth-child(7){animation-delay:90s;}
.fade_slideshow img:nth-child(6){animation-delay:75s;}
.fade_slideshow img:nth-child(5){animation-delay:60s;}
.fade_slideshow img:nth-child(4){animation-delay:45s;}
.fade_slideshow img:nth-child(3){animation-delay:30s;}
.fade_slideshow img:nth-child(2){animation-delay:15s;}
.fade_slideshow img:nth-child(1){animation-delay:5s;} 

/* Content */

.t {
    padding: 50px;
    font-size: 45px;
    color: yellow;
    text-align: left;
    font-family: 'UnileverShilling', sans-serif;
}

.navigations {
    padding: 200px;
    line-height: 2;
    font-size: 120px;
    text-align: left;
    font-family: 'UnileverShillingb', sans-serif;
}

a:link {
    color:yellow;
}

a:visited {
    color:yellow;
}

a:hover {
    color:blue;
}


.c1 {
    background-size: cover;
    background-color:#d6d6ff;
    padding: 20px;
    background-position: center;
    margin-top:  20px;
    margin-left: auto;  
    margin-right: auto;    
}

.i1 {
    padding: 20px;
    font-family: 'UnileverShillingb', sans-serif;
    text-align: left;
    color:blue;
    font-size: 120px;
}

.video-container {
    width: 50%; 
    height: 0; 
    padding-bottom: 30%; 
    position: relative;
    margin: 0 auto;
}
  
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.d {
    font-family: 'UnileverShilling', sans-serif;
    text-align: center;
    color:blue;
    font-size: 50px;
}

/* ending footer */

.end {
    color: yellow;
    text-align: center;
    font-size: 18px;
    font-family: 'UnileverShilling', sans-serif;
    background-size: cover;
    background-color:darkblue;
    margin: 0;
}